* {
    outline:none;
    text-decoration:none;
    border:none;
  }

:root {
    --custom-primary: #FED049;
    --custom-light: #CFFDE1;
    --custom-secondary: #68B984;
    --custom-dark: #3D5656;
    --speed: 0.5s;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(243, 243, 243);
}

nav {
    display: flex;
    justify-content: space-between;
    height: 2em;
    align-items: center;
}

#current-page {
    background-color: var(--custom-dark);
    color: var(--custom-light);
    
    outline-style: solid;
    outline-width: 0.15em;
    outline-color: black;
    
    font-size: small;
    font-weight:bold;
    
    display:flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */

    height: 2em;
    width: 10em;
    
}

/* based off of: Joel Olawanle  */

.dropdown {
    display: inline-block;
    position: relative;
}
  
  button{
    border:none;
    border-radius:5px;
    padding:15px 30px;
    font-size:18px;
    cursor:pointer;
  }
  
  button:hover{
    animation: buttonHovering;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
  }
  
  .dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
    background-color:#fff;
    border-radius:5px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  
  .dropdown:hover .dropdown-options {
    display: block;
    animation: fadeIn 0.5s;
    animation: dropFloat 0.5s;
    animation-fill-mode: forwards;
  }
  
  .dropdown-options a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    padding:20px 40px;
  }
  
  .dropdown-options a:hover {
    color: #0a0a23;
    animation: hovering;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    border-radius:5px;
    outline-width: 0.1em;
  }
  
/* original: Alex Moore */

.btn-flip{
	opacity: 1;
	outline: 0;
	color: #fff;
	line-height: 40px;
	position: relative;
	text-align: center;
	letter-spacing: 1px;
	display: inline-block;
	text-decoration: none;
  font-weight:bold;
	text-transform: uppercase;
}
    
.btn-flip:hover:after{
    opacity: 1;
    transform: translateY(0) rotateX(0);
}
		
.btn-flip:hover:before{
    opacity: 0;
    transform: translateY(50%) rotateX(90deg);
}
	
	
.btn-flip:after{
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: black;
    display: block;
    transition: var(--speed);
    position: absolute;
    background: #ffe38d;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
    outline-style: solid;
    outline-width: 0.1em;
}
	
.btn-flip:before{
    top: 0;
    left: 0;
    opacity: 1;
    color: black;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: var(--speed);
    position: relative;
    background: var(--custom-primary);
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
    outline-style: solid;
    outline-width: 0.1em;
}

/* CIRCLE BUTTON */

.circle-button{
    color: rgb(40, 40, 40);
	display: inline-block;
    font-size: 2rem;
    border-radius: 50%;
	transition: all 0.2s;

    height:1em;
    width:1em;
  }
  
  .circle-button:hover{
    animation: circle-anim 0.3s ease forwards;
    transition: all 0.4s ease;
    background: var(--custom-secondary);
  }

  .adjust-circle {
    transform: translateY(-5px);
  }

/* INFORMATION CARD */

.info-card {
  position:fixed;
    
    display: flex;
    flex-direction: column;
    justify-content: center; /* align horizontal */
    align-items: center;

    font-style: italic;
    font-weight: 100;
    text-align: center;

    outline-style: solid;
    outline-width: 0.1em;
    height: 20%;
    width: 30%;
    background-color: white;
}

.icon-lineup {
    width: 50%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom: 1em;
}

.info-lineup {
    padding: 5px; 
    margin-bottom: 20px;
}

/* 3D IMAGE THING */

.img3D {
  cursor: grab;
}

.img3D:hover {
  animation: lift 0.5s ease-in;
  animation-fill-mode: forwards;
}

.img3D:hover::after {  
  animation: drop 0.5s ease-out;
  animation-fill-mode: forwards;
}

.bg-img {
  position:absolute;
  transform: translate(-70px, -30px);
  width:400px;
  max-width: 400px;
  z-index:-1;
}

.big-text {
  font-size: 4.5em;
  margin-bottom:5px;
}

/* FOOTER */

footer {
    background-color: var(--custom-dark);
    color: var(--custom-light);
    height: 5em;
    width: 100%;
    
    display:flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */

    outline-style: solid;
    outline-width: 0.1em;
    outline-color: black;
}

/* ANIMATIONS */

@keyframes fadeIn {
    0% { opacity: 0; }
    25% { opacity: 0.2; }
    75% { opacity: 0.5; }
    100% { opacity: 1; }
}

@keyframes dropFloat {
    0% { transform: translate(-120px,  5px); }
    100% { transform: translate(-120px,  0px); }
}

@keyframes hovering {
    0% { background-color: white; }
    100% { background-color: #ddd; }
}

@keyframes buttonHovering {
    0% { background-color: #ddd; }
    100% { background-color: rgb(176, 176, 176) }
}

@keyframes circle-anim{
	0%  {	}
	
	90% {	
            padding: 0.35em;
            margin: -0.35em; 
	    }  
	
	100% {
		    padding: 0.25em;
		    margin: -0.25em; 
	    }
}

@keyframes lift {
  0% { transform: translate(0px,  0px); }
  100% { transform: translate(0px,  -10px); }
}

@keyframes drop {
  0% { transform: translate(0px,  -10px); }
  100% { transform: translate(0px,  0px); }
}
