h1, h2, h3, h4, p {
    font-family: 'Open Sans', sans-serif;
}

.blue_overline_text {
    color:blue
}

#red_underline_text {
    color:red
}

/* pages */
/* #Page_landing {}

#Page_portfolio {}

#Page_qualifications {}

#Page_service {}

#Page_ai {} */

/* style */
/* #whichStyle {} */