@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --custom-primary: #35f4ce;
    --custom-light: #efe8ff;
    --custom-secondary: #c65dfa;
    --custom-dark: #915ff5;
    --speed: 0.5s;
    font-family: 'Raleway', sans-serif;
}

body {
  background: radial-gradient(circle at bottom, navy 0, black 100%);
  /* height: 100vh; */

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  overflow-x: hidden;

  color: white;
}

.bg-img {
  display: none;
}

.img3D {
  display:none;
}

.animated-bg {
  position: fixed; /* Safari */
  position: fixed;
  top: 0
}

.space {
  z-index: -999;
  background: rgba(128, 0, 128, 0.1) center / 200px 200px round;
  border: 1px dashed purple;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  background-attachment: fixed;
  background-position: center;
  /* background-size: cover;   */
}

@keyframes space {
  40% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.25;
  }
  60% {
    opacity: 0.75;
  }
  100% {
    transform: rotate(360deg);
  }
}

.stars0 {
  transform: rotate(15deg);
  animation: space 120s ease-in-out infinite;
  background-image:
    radial-gradient(
      1px 1px at 25px 5px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 50px 25px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 125px 20px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 50px 75px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2px 2px at 15px 125px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 110px 80px, 
      white, 
      rgba(255, 255, 255, 0)
    );
}

.stars1 {
  transform: rotate(30deg);
  animation: space 180s ease-in-out infinite;
  background-image:
    radial-gradient(
      1px 1px at 25px 5px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 50px 25px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 125px 20px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 50px 75px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2px 2px at 15px 125px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 110px 80px, 
      white, 
      rgba(255, 255, 255, 0)
    );
}

.stars2 {
  transform: rotate(60deg);
  animation: space 240s ease-in-out infinite;
  background-image:
    radial-gradient(
      1px 1px at 75px 125px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 100px 75px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 199px 100px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2px 2px at 20px 50px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 100px 5px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 5px 5px, 
      white, 
      rgba(255, 255, 255, 0)
);
}

.stars3 {
  animation: space 300s ease-in-out infinite;
  transform: rotate(15deg);
  background-image:
    radial-gradient(
      1px 1px at 10px 10px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 150px 150px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 60px 170px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 175px 180px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2px 2px at 195px 95px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 95px 145px, 
      white, 
      rgba(255, 255, 255, 0)
    );
}

#current-page {
  background-color: rgba(0,0,0,0.4);
  color: white;

  font-size: small;
  font-weight:bold;
  
  display:flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */

  height: 2em;
  width: 10em;
  
}

nav {
  margin-top: 20px; 
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;
  height: 2em;
  align-items: center;
}

.nav-lhs {
  display: flex;
  column-gap: 20px;

  margin-left: 15px;

  justify-content: space-between;
  align-items: center; 
}

#Page_landing {
  display:grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 0.1fr 0.8fr;
  gap: 0px 0px;
}

.easter-egg-pos {
  display: none;
}

.big-text {
  font-size: 9em;
  font-weight: 300;
  font-style: normal;
}

.pos-intro {
  text-align: center;
  margin: 5%;
}

.tooltip {
  display: none;
}

.dropdown {
  display: inline-block;
  position: relative;
}
  
.emphasize {
  display: block;
  margin: 15px;
  font-weight: normal;
  text-decoration-line:none;
  color: var(--custom-light);
  transition: 0.2s ease-out;
  }
  
  .emphasize:hover {
  font-weight: bold;
  color: var(--custom-primary);
  animation-fill-mode: forwards;
  }
  

button{
  background-color: rgba(0,0,0,0.4);

  border-color: #ddd;
  border-style: dotted;
  border-radius:5px;
  padding:15px 30px;

  color: var(--custom-light);
  font-size:18px;
  cursor:pointer;

  transition: background-color 0.2s ease-out;
  }
  
  button:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .info-card {
      
    display: flex;
    flex-direction: column;
    justify-content: center; /* align horizontal */
    align-items: center;
  
    font-style: italic;
    font-weight: 100;
    text-align: center;

    padding: 10px 10px;
  
    height: 10%;

    color: var(--custom-light);
    background-color: rgba(0,0,0,0.4);
  }
    
  .icon-lineup {
    font-size: 2em;

    width: 50%;
    height: 10%;
    display: flex;
    justify-content: space-between;

  }
    
  .info-lineup {
    font-size: small;
  }

  .quick-icon-section {
    display: flex;
    flex-direction: column;
    justify-content: center; /* align horizontal */
    align-items: center;
  
    font-style: italic;
    font-weight: 100;
    text-align: center;

    padding: 10px 10px;
  
    height: 10%;

    color: var(--custom-light);
    background-color: rgba(0,0,0,0.4);
  }
  
  .quick-icons {
    display:flex; 

    font-size:2em;
    margin-top: 20px;

    justify-content:space-between; 
    align-items: center;
    column-gap:40px;
  }

.about-section {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 15%;
}

  #Page_portfolio {
    display: none;
  }

  .portfolio-layout {
    display:block;
    margin: 5%;
  }

  .project-item {
    background: rgba(0,0,0,0.4);
  
    display:flex;
    column-gap: 5%;
  
    padding: 5%;
    margin-bottom: 5%;

    transition: 0.2s ease-in;
  }

  .project-item:hover {
    background: rgba(0,0,0,0.6);
    transform: translate(0px, -5px);
  }

  #Page_qualifications {
    display: none;
  }

  .qualifications-layout {
    display: block;
    text-align: center;
  }

  .resume-section {
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
  }

  .resume-download-area {
    display:flex; 
    justify-content: space-between; 
    align-content:center; 

    margin-left:20%; 
    margin-right:20%; 
    margin-bottom: 5%; 
    margin-top: 10%;
  }

  .pseudo-resume-section {
    text-align: left;

    margin-left: 10%; 
    margin-right: 10%; 
    margin-bottom: 10%; 
    margin-top: 10%;
  }

  .qual-info-pos {
    display:flex; 
    gap: 20px; 
    margin-top: 30px;
  }

  .static-info-card {
    margin-top: 10%; 

    font-size: 2em;
    
    display: flex;
    flex-direction: column;
    justify-content: center; /* align horizontal */
    align-items: center;
  
    font-style: italic;
    font-weight: 100;
    text-align: center;

    padding-bottom: 20px;
  
    height: 10%;

    color: var(--custom-light);
    background-color: rgba(0,0,0,0.4);
  }

  .resume-category {
    margin-bottom: 5%;
    padding: 2%;

    color: var(--custom-light);
    background-color: rgba(0,0,0,0.4);
  }

  .tech_box {
    background-color: rgba(0,0,0,0.4);
    color: var(--custom-light);
  
    padding: 2px;
    margin-bottom: 30px;
    padding-left: 20px;
  
    outline-style: solid;
    outline-width: 0.1em;
    outline-color: black;
  }
  
  .tech_stack {
    display:flex; 
    justify-content: space-between;
    align-items: center;
  
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  
    height: 25px;
  }

  #Page_service {
    display: none;
  }

  .service-layout {
    margin-left: 5%; 
    margin-right: 5%; 
    margin-top: 5%; 
    margin-bottom: 10%;

    text-align: center;
  }

  .service-item {
    background: rgba(0,0,0,0.4);
  
    display:flex;
    column-gap: 5%;
  
    padding: 5%;
    margin-bottom: 5%;

    transition: 0.2s ease-in;
  }

  .service-item:hover {
    background: rgba(0,0,0,0.6);
    transform: translate(0px, -5px);
  }

  .quote-credit {
    font-size: large; 
    font-style: italic; 
    margin-bottom: 5%;
  }

  .group_section {
    padding: 5px;
    margin-bottom: 5px;
  }

  #Page_ai {
    display: none;
  }


  .circle-button{
    color: var(--custom-light);

    display: inline-block;
    border-radius: 50%;
    transition: all 0.2s;
  
    height:1em;
    width:1em;

    transition: 0.2s ease-out;
  }
  
  .circle-button:hover {
    color: var(--custom-primary);
    font-size: larger;
  }

  
  .dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
    background-color:rgba(0,0,0,0.8);
    border-radius:5px;
  }
  
  .dropdown:hover .dropdown-options {
    z-index: 99;
    display: block;
    animation: fadeIn 0.5s;
    animation: slideIn 0.5s;
    animation-fill-mode: forwards;
  }
  
  .dropdown-options a {
    display: block;
    color: var(--custom-light);
    padding: 10px;
    font-size: xx-large;
    text-decoration: none;
    padding: 45px 60px;
    transition: 0.5s;
  }
  
  .dropdown-options a:hover {
    color: var(--custom-secondary);
    transform: translate(-10px, 0px);
    
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    border-radius:5px;
    outline-width: 0.1em;
  }

  @keyframes slideIn {
    0% { transform: translate(0px,  0px); }
    100% { transform: translate(-260px,  0px); }
  }
  

.btn-flip{
  background-color: rgba(0,0,0,0.4);
	color: #fff;
	line-height: 40px;
	position: relative;
	text-align: center;
	letter-spacing: 1px;
	display: inline-block;
	text-decoration: none;
	font-family: 'Raleway';
	text-transform: uppercase;
}
    
.btn-flip:hover:after{
    opacity: 1;
    transform: translateY(0px);
}
		
.btn-flip:hover:before{
    opacity: 0;
    transform: translateY(-5px);
}
	
	
.btn-flip:after{
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: var(--custom-primary);
    display: block;
    transition: var(--speed);
    position: absolute;

    content: attr(data-back);
    transform: translateY(-5px);
}
	
.btn-flip:before{
    top: 0;
    left: 0;
    opacity: 1;
    color: var(--custom-light);
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: var(--speed);
    position: relative;
    content: attr(data-front);
    transform: translateY(0px);
}


footer {
  background-color: rgba(0,0,0,0.4);
  color: var(--custom-light);
  height: 5em;
  width: 100%;
  
  display:flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */

  outline-style: solid;
  outline-width: 0.1em;
  outline-color: black;
}

